@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Limelight&family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap');


/* css reset - every element, before every element and after element. Box-risizing, 
measure outside in instead of in out */
*,
*:before,
*:after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

body{
    background: lightgray;
    font-family: sans-serif;
    font-size: 15px;
}

h1,
h2,
h3,
nav{
    font-family: "Reddit Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: .2em 0;
}

h2{
     display: inline-block;
    padding: 0.5em 1em;
    background-color: lightblue;  
    color: #000;
    border-radius: 20px;       
    font-weight: 600;  
}



p{
      font-family: "Reddit Sans", sans-serif;
    font-weight: normal;
    margin: 1.8em 0;
    line-height: 1.8em;
}

h2{font-size: 1.25em;}

.skip-link {
  position: absolute;           
  top: 0;
  left: 0;
  background: #0044cc;
  color: white;
  padding: 0.5em 1em;
  border-radius: 0 0 0.5em 0;
  transform: translateY(-100%); 
  transition: transform 0.3s ease;
  z-index: 100;
}

.skip-link:focus {
  transform: translateY(0); 
}

header,
nav,
main,
aside,
footer{
    padding: 1.5em;
    /* border: 1px black solid; */
}

header,
footer{
    text-align: center;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    background: rgb(175,222,176);
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns:1fr 2fr;
    grid-template-areas: 
    "heady heady"
    "navvy navvy"
    "aside1 mainy"
    "aside1 mainy"
    "aside2 aside2"
    "footy footy";
}

header {grid-area: heady; background: #FAF9F6;}
nav {grid-area: navvy; background: #FAF9F6}
main {grid-area: mainy; background: #FAF9F6; max-height: 100%}
#aside1 {grid-area: aside1; background: #FAF9F6;}
#aside2 {grid-area: aside2; background: #FAF9F6;}
footer {grid-area: footy;background: #FAF9F6;}

nav {
  padding: 0;/* smaller top/bottom padding */
  
}
nav ul{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

nav a{
    display: inline-block;
    padding: 0.5em 1em;
    background-color: lightblue;  
    color: #000;
    border-radius: 20px;       
    font-weight: 600;  
}

nav a:hover{
    background-color: darkblue;  
     color: white;
}


nav ul li{
    list-style: none;
}


img{
  display:block;
  margin: auto;
  width: 100%;
  /* padding-top: 40px; */
  border-radius: 8px;
}

ul li{
    padding: 1em;
    list-style: none;
}

@media screen 
and (min-width: 641px)
and (max-width: 900px){
.container{
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "heady heady"
    "navvy navvy"
    "aside1 mainy"
    "aside1 mainy"
    "aside2 aside2"
    "footy footy";
}
}

@media screen 
and (max-width: 640px){
    .container{
        grid-template-columns: 1fr; 
        grid-template-areas: 
        "heady"
        "navvy"
        "mainy"
        "aside1"
        "aside2"
        "footy";
    }
    
    nav ul{
        flex-flow: column nowrap;
        text-align: center;
    }

    nav ul li a{
        display: block;
        padding: 10px 5px;
        margin: 5px;
        border: 1px black solid;
        background: white;
    }
}