@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Limelight&family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap');


/* css reset - every element, before every element and after element. Box-risizing, 
measure outside in instead of in out */
*,
*:before,
*:after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

body{
    background: #407899;
    font-family: sans-serif;
    font-size: 15px;
}


nav {
  padding: 0;/* smaller top/bottom padding */
}
nav ul{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

nav a{
    display: inline-block;
    padding: 0.5em 1em;
    background-color: #407899;  
    color: #000;
    border-radius: 20px;       
    font-weight: 600;
    color:white;
    text-decoration: none;  
}

nav a:hover{
    background-color: white;  
    color:#407899;
}

nav ul li{
    list-style: none;
}

h1,
h2,
h3,
nav{
    font-family: "Reddit Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: .2em 0;
}

p{
    font-family: "Reddit Sans", sans-serif;
    font-weight: normal;
    margin: 1.8em 0;
    line-height: 1.8em;
}

h2{font-size: 1.25em;}

header,
nav,
main,
aside,
footer{
    padding: 1.5em;
    /* border: 1px black solid; */
}


header,
footer{
    text-align: center;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    background: rgb(175,222,176);
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns:1fr 2fr 1fr;
    grid-template-areas: 
    "navvy navvy navvy"
    "heady heady heady"
    "mainy mainy mainy"
    "aside1 aside1 aside1"
    "aside2 aside2 aside2"
    "footy footy footy";
}

header {grid-area: heady; background: white;}
nav {grid-area: navvy; background: white}
main {grid-area: mainy; background: white; max-height: 100%}
#aside1 {grid-area: aside1; background: white;}
#aside2 {grid-area: aside2; background: white}
footer {grid-area: footy;background: white;}





@media screen 
and (min-width: 641px)
and (max-width: 900px){
.container{
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "navvy navvy"
    "heady heady"
    "navvy navvy"
    "mainy mainy"
    "aside1 aside2"
    "aside1 aside2"
    "footy footy";
}
}

@media screen 
and (max-width: 640px){
    .container{
        grid-template-columns: 1fr; 
        grid-template-areas: 
        "navvy"
        "heady"
        "mainy"
        "aside1"
        "aside2"
        "footy";
    }
    
    nav ul{
        flex-flow: column nowrap;
        text-align: center;
    }

    nav ul li a{
        display: block;
        padding: 10px 5px;
        margin: 5px;
        background:#407899;
        color: white;
    }
}