@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Limelight&family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap');

body {
    font-family: "Reddit Sans", sans-serif;
  font-optical-sizing: auto;
  /*font-weight: <weight>;
  font-style: normal;*/
  font-size: 18px;
  font-style: normal;
}

.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  .container{ /*wrapper*/
    margin: 0 auto;
    max-width: 960px;
  }

p {
    line-height: 2em;
    text-indent: 50px;
    margin-bottom: 25px;
}

h1,
h2,
h3 {
    font-family: "Limelight", sans-serif;
}

nav ul li{ /*if you are a list item and it's parent is the uordered list and it's parent is the nav then do this*/
    list-style: none; /*don't do a bullet pint*/
}

/*nav ul li a{
    the link itself
}

nav ul li a:link{
    /*link, visited, hover, action - set color  
}*/
