@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Limelight&family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap');

body{
  background-color: #F5F9FA;
}
.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

.container{ /*wrapper*/
    margin: 0 auto;
    max-width: 960px;
  }

p {
   font-family: "Reddit Sans", sans-serif;
   font-optical-sizing: auto;
   font-size: 16px;
  font-style: normal;
    line-height: 2em;
    text-indent: 50px;
    margin-bottom: 25px;
    color: #1E293B;
}

figcaption{
  text-align: center;
  font-family: "Reddit Sans", sans-serif;
  font-style: italic;
  margin-bottom: 25px;
  color: #1E293B;
}

h1,
h2{
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: #1E293B;
}

h3,
h4{
   font-family: "Roboto", sans-serif;
   color: #1E293B;
}

img{
  display:block;
  margin: auto;
  width: 50%;
  margin-bottom: 25px;
}

ul{
  font-family: "Reddit Sans", sans-serif;
   font-optical-sizing: auto;
   font-size: 16px;
  font-style: normal;
    color: #1E293B;
}

nav ul li{ 
    list-style: none; 
    line-height: 1.4em;
}

nav ul li a{
  text-decoration: none;
}
nav ul li a:hover{
  color: black;
  text-decoration: underline;
}

