p{
    font-size: 5vw; /* 5percent of the screen*/
}

#delay{ /*id - keyframes using percentages*/
    animation-duration: 4s;/*2seconds to get across the page*/
    animation-name: slidein;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes slidein{
    from{ /*0 secondds*/
        margin-left: 100%;
        width: 300%;
    }

    50%{
        color:greenyellow;
        font-size: 6vw;
    }

    to{/* 2 seconds*/
        margin-left: 0%;
        width: 100%;
    }
}

.getbig{
    animation: 3s infinite alternate getbig;
}

@keyframes getbig{
    from{
        font-size: 1vw;
    }

    to{
        font-size: 100vw;
        color: blue;
    }
}

#hover{
    font-size: 5vw;
    transition-property: font-size;
    transition-duration: 3s;
    transition-delay: .25s;
}

#hover:hover{
    font-size: 15vw;
    color: pink;
    background-color: black;
}